<h2>로그인</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}

    <p>
        <input
            type="text"
            name="username"
            placeholder="아이디를 입력하세요"
            required
        >
    </p>

    <p>
        <input
            type="password"
            name="password"
            placeholder="비밀번호를 입력하세요"
            required
        >
    </p>

    <button type="submit">로그인</button>
</form>

<br>

<p>아직 회원이 아니신가요?</p>

<a href="{% url 'signup' %}">
    회원가입하기
</a>